<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LotsofPixels\Todo\Api\TaskManagementInterface" type="LotsofPixels\Todo\Service\TaskManagement"/>
    <preference for="LotsofPixels\Todo\Api\TaskRepositoryInterface" type="LotsofPixels\Todo\Service\TaskRepository"/>
    <preference for="LotsofPixels\Todo\Api\Data\TaskInterface" type="LotsofPixels\Todo\Model\Task"/>
    
    <preference for="\LotsofPixels\Todo\Api\Data\TaskSearchResultInterface" type="LotsofPixels\Todo\Api\Data\TaskSearchResultInterface"/>
</config>